@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

:root {
    --deckgo-highlight-code-carbon-toolbar-display: none;
    --deckgo-highlight-code-carbon-overflow: scroll;
    --deckgo-highlight-code-scroll: scroll;
    --deckgo-highlight-code-width: max-content;
    --deckgo-highlight-code-carbon-margin: 30px 20px;
}

body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
}

p {
    line-height: 165%;
}

.boxed {
    @apply max-w-screen-lg w-full mx-auto px-4;
}

.large-container {
    max-width: 2100px;
}

@screen lg {
    .boxed {
        @apply max-w-screen-md;
    }
}

@screen xl {
    .boxed {
        @apply max-w-screen-lg;
    }
}

.nav .nav-links li{
    @apply relative inline-block mx-2;
}

.nav .nav-links li a{
    @apply inline-block p-1 relative z-10;
}

.nav .nav-links li:before{
    content: "";
    @apply absolute w-0 h-0 rounded-full bg-primary left-0 right-0 bottom-0 top-0 m-auto opacity-25;
    transition: width .25s, height .25s;
}

.nav .nav-links li.active a ,.nav .nav-links li:hover a {
    color: #71ddbf;
}

.nav .nav-links .theme-switcher:before{
    display: none;
}

.nav .line {
    width: 0;
    transition: width 0.50s;
    border-bottom: 2px dashed;
    @apply border-color-2;
}

.nav.scrolled .line{
    @apply w-full;
}

.title h1{
    @apply text-color-1;
}



.btn {
    @apply h-12 px-6 outline-none inline-flex relative overflow-hidden items-center;
}

.btn.disabled {
    @apply opacity-50;
}

.btn span {
    @apply relative z-10;
}

.btn .icon-right {
    @apply ml-3;
}

.btn .icon-left {
    @apply mr-3;
}

.btn:focus {
    @apply outline-none bg-color-2;
}

.btn-primary {
    @apply bg-color-3 my-4;
    color: #000;
}

.btn-primary:before {
    @apply bg-color-3;
}

.btn-primary:hover:before,.btn-primary:focus:before {
    left: 0;
}

.footer-links li{
    @apply mx-3;
}

.animated-link-parent a {
    @apply inline-block relative;
}

.animated-link-parent a:after {
    content: "";
    transition-property: width;
    @apply absolute bg-gradient-primary duration-300 w-0 left-0 bottom-0;
    height: 2px;
}

.animated-link-parent a:hover:after,.animated-link-parent a:focus:after,.animated-link-parent a:active:after {
    @apply w-full;
}

.post-content p {
    @apply my-3;
}

.post-content h1, h2, h3, h4, h5, h6 {
    @apply text-color-1 my-8;
}

.post-content h1 {
    @apply text-5xl;
}

.post-content h2 {
    @apply text-4xl;
}

.post-content h3 {
    @apply text-3xl;
}

.post-content h4 {
    @apply text-2xl;
}

.post-content h5 {
    @apply text-xl;
}

.post-content h5 {
    @apply text-lg;
}

.post-content hr {
    @apply my-4 border-medium;
}

.post-content ul {
    list-style: disc;
}

.post-content ol {
    list-style: decimal;
}

.post-content ul, .post-content ol {
    @apply ml-4;
}

.post-content ul ul, .post-content ol ol {
    @apply ml-3;
}

.post-content li {
    @apply my-2;
    margin-left: 1.5rem;
}

.post-content table {
    @apply w-full my-6;
}

.post-content table tr {
    border-bottom: 2px solid #eee;
    @apply border-medium;
}

.theme-dark .post-content table tr  {
    border-bottom: 2px solid #444;
}

.post-content table tr td, .post-content table tr th {
    @apply p-2 py-3 text-left;
}

.post-content blockquote{
    @apply border-l-4 border-primary p-3;
    padding: 0rem 0.75rem;
    margin: 1.5rem 0;
}

.post-content iframe {
    max-width: 100%;
}

.input.focused {
    @apply px-4;
}

.spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 640px) {
    html {
        font-size: 15px;
    }
}

.post-content a {
    @apply text-color-3 my-4;
}

.post-content pre {
    overflow: scroll;
    color: #fff;
    background-color: #333;
    padding: 1rem;
    margin: 2rem;
}

.post-content img {
    margin: 3rem;
}

.int-title {
    color: #fff !important;
}

.integration-list {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
}

.integration-list td {
    border: 3px solid #f8f8f8;
    vertical-align: top;
    padding: 8px 13px;
}

.integration-list th {
    padding: 10px;
    border: 3px solid #f8f8f8;
}

.int-desc {
    width: 50%;
}

.table-of-contents {
    padding: 10px 0;
    margin: 10px 0px 10px 20px;
    float: right;
    background-color: rgba(255, 255, 255, 0.1);
}

.table-of-contents ol {
    counter-reset: tocnum;
    padding-left: 10px;
    margin-left: 0;
    list-style: none;
}

.table-of-contents ol li {
    counter-increment: tocnum;
    line-height: 100%;
    padding-left: 0;
    padding-right: 10px;
    margin-left: 10px;

}
.table-of-contents ol li:before {
    content: counters(tocnum, '.') '. ';
    font-weight: bold;
}

code {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.blog-item {
    background-color: rgba(255, 255, 255, 0.1);
}

.nowrap {
    white-space: nowrap;
}

/* Index Wall */

.wall {
    @apply flex relative justify-center items-center overflow-hidden pt-24 px-16;
}

.wall-div {
    @apply flex-1 lg:block relative w-full h-full top-0 left-0 hidden;
}

.wall-img-div {
    @apply w-full h-full;
}

.wall-img {
    @apply h-full w-auto max-w-none lg:h-auto lg:w-full pr-12;
}

.wall-text {
    @apply flex-1 text-center p-3 relative z-10 lg:text-left lg:pl-8 text-white lg:text-color-default;
}

.wall-text-slogan {
    @apply text-5xl relative mt-20 lg:text-6xl;
}

.wall-text-cta {
    @apply text-lg lg:text-xl text-color-3 pb-6 pt-3 pb-6;
}

.wall-text-btns-div {
    @apply py-5 pb-20;
}

.wall-text-btn {
    @apply mx-5 rounded-full opacity-80 hover:opacity-100 transition duration-500 ease-in-out transform hover:scale-105;
}

/* Index About */

.about-div {
    @apply border-t-2 border-dashed border-color-2;
}

.about-div-inner {
    @apply px-4 py-12 boxed text-center lg:pt-14 lg:px-0;
}

.about-div-q {
    @apply relative text-3xl;
}

.about-div-a1 {
    @apply mt-5 pt-3 px-6;
}

.about-div-a2 {
    @apply my-5 text-lg px-6;
}

/* Index Feature Boxes */

.feature-boxes-div {
    @apply border-t-2 border-dashed border-color-2
}

.feature-boxes-div-inner {
    @apply flex flex-wrap py-12 container mx-auto items-center;
}

.feature-boxes-div-title {
    @apply px-4 text-center lg:px-0 w-full lg:order-1 order-1;
}

.feature-boxes-div-title-h2 {
    @apply text-center relative text-3xl;
}

.feature-boxes-div-rtm {
    @apply lg:py-14 px-4 lg:pr-12 lg:w-1/2 w-full order-2 lg:order-2;
}

.feature-boxes-div-title {
    @apply text-color-1 text-xl text-center lg:text-left lg:text-2xl;
}

.feature-boxes-div-para {
    @apply mt-5 text-center lg:text-left;
}

.feature-boxes-div-rtm-img {
    @apply py-12 lg:py-14 px-4 lg:w-1/2 w-full order-2 lg:order-2;
}

.fb-img {
    @apply w-full max-w-none;
}

.feature-boxes-div-uvg {
    @apply py-12 lg:py-14 px-4 lg:pl-12 lg:w-1/2 w-full order-3 lg:order-4;
}

.feature-boxes-div-uvg-img {
    @apply py-12 lg:py-14 px-4 lg:w-1/2 w-full order-4 lg:order-3;
}

.uvg-img {
    @apply w-full max-w-none lg:pr-12;
}

.feature-boxes-div-api {
    @apply py-12 lg:py-14 px-4 lg:pr-12 lg:w-1/2 w-full order-5 lg:order-5;
}

.feature-boxes-div-api-img {
    @apply py-12 lg:py-14 px-4 lg:w-1/2 w-full order-6 lg:order-6;
}

/* Blog on Index */

.blog-div {
    @apply border-t-2 border-dashed border-color-2;
}

.blog-div-inner {
    @apply container mx-auto px-0 pb-24;
}

.blog-div-title-div {
    @apply px-4 py-12 text-center lg:py-14 lg:px-0;
}

.blog-div-title {
    @apply text-color-1 text-3xl lg:text-4xl;
}

.blog-div-children {
    @apply flex flex-wrap;
}

/* 404 */

.not-found-div {
    @apply container mx-auto py-12;
}

.not-found-title-div {
    @apply title py-12 text-center;
}

.not-found-title {
    @apply text-7xl text-color-1;
}

.not-found-title-text {
    @apply text-primary;
}

.not-found-msg {
    @apply pb-20 text-center;
}

.not-found-btn {
    @apply text-link;
}

/* Cookie */

.cookie-div {
    @apply fixed bottom-0 left-0 w-full bg-bgalt border-t-2 border-primary p-4 flex flex-wrap items-center justify-between z-50;
}

.cookie-inner-div {
    @apply flex;
}

.cookie-p {
    @apply text-color-default mr-2;
}

.cookie-link {
    @apply text-color-1;
}

.cookie-btn {
    @apply px-3 py-1 rounded bg-bgalt border-2 border-secondary text-color-default hover:border-primary duration-200 transition-all;
}

/* Shortcodes */

.shortcodes {
    @apply flex-1 p-2;
}